@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS rules to specify families */
/* font-family: 'IBM Plex Mono', monospace; */
.rst-content code, .rst-content tt, code, kbd, pre, samp {
  font-family: IBM Plex Mono, Menlo, Monaco, Consolas, Liberation Mono, Courier New, Courier, monospace;
}

html.writer-html4 .rst-content dl:not(.docutils) code, html.writer-html4 .rst-content dl:not(.docutils) tt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) code, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) tt {
  font-weight: 400;
}

html.writer-html4 .rst-content dl:not(.docutils) code.descname, html.writer-html4 .rst-content dl:not(.docutils) tt.descname, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) code.descname, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) tt.descname {
  font-weight: 600;
}

.rst-content .toctree-wrapper>p.caption, h1, h2, h3, h4, h5, h6, legend {
  margin-top: 0;
  font-weight: 600;
  font-family: 'Dosis', Roboto Slab, ff-tisa-web-pro, Georgia, Arial, sans-serif;
  letter-spacing: 0.06rem;
  color: #b5514c;
}

body {
  font-family: 'Montserrat', Lato, proxima-nova, Helvetica Neue, Arial, sans-serif;
  font-weight: 400;
  color: #404040;
}

.wy-side-nav-search {
  background-color: #b5514c;
}

a {
  color: #4cb3a3;
}

a:hover {
  color: #53c7b5;
}

a:visited {
  color: #38877b;
}

a:active {
  color: #4cb3a3;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: #53c7b5;
}

.wy-side-nav-search input[type="text"] {
  width: 100%;
  border-radius: 0px;
  padding: 6px 12px;
  border-color: transparent;
}

.wy-side-nav-search .wy-dropdown>a, .wy-side-nav-search>a {
  color: #ffffff;
}

.wy-menu-vertical a {
  color: #d9d9d9;
}

.wy-menu-vertical a:active {
  background-color: #b5514c;
  cursor: pointer;
  color: #fff;
}

html.writer-html4 .rst-content dl:not(.docutils)>dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
  display: table;
  margin: 6px 0;
  margin-top: 6px;
  font-size: 90%;
  line-height: normal;
  background: #faf5e7;
  color: #6f3d3a;
  border-top: 3px solid #b5514c;
  padding: 6px;
  position: relative;
}

.sphx-glr-thumbcontainer:hover {
  border: solid #96d0c7 1px;
  box-shadow: 0 0 15px rgba(142, 176, 202, 0.5);
}

div.sphx-glr-download a {
  background-color: #f3f6f6 !important;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, .1);
  color: #000;
  display: inline-block;
  font-weight: bold;
  padding: 1ex;
  text-align: center;
  background-image: none !important;
  box-shadow: inset 0 1px 2px -1px hsla(0, 0%, 100%, .5), inset 0 -2px 0 0 rgba(0, 0, 0, .1);
}

footer p {
  margin-bottom: 12px;
  font-size: small;
}

footer {
  color: grey;
  font-size: small;
}

.sphx-glr-download-link-note.admonition.note {
  visibility: hidden;
  margin: -5em;
}

.highlight .k, .highlight .kc, .highlight .kn, .highlight .nb, .highlight .ow {
  color: #5aa2a2;
  font-weight: bold;
}

.highlight .nn, .highlight .nf, .highlight .nd {
  color: #b5514c;
  font-weight: bold;
}

.highlight .s2, .highlight .sa {
  color: #D58952;
}

.highlight .c1 {
  color: #aaacac;
  font-style: italic;
}

.highlight .mi {
  color: #5f799f;
}

.highlight .ne {
  color: #F06DAB;
  font-weight: bold;
}

.highlight .sd {
  color: #86532F;
  font-style: italic;
}

.rst-content .viewcode-back, .rst-content .viewcode-link {
  color: #5aa2a2;
  font-size: 80%;
}

a[class*='sphx-glr-backref-'] {
  color: inherit !important;
}
